@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --green: rgb(51, 214, 159);
  --green-light: rgb(51, 214, 159, 0.1);
  --yellow: #FF8F00;
  --yellow-light: rgba(255, 143, 0, 0.1);
  --gray: rgb(136, 142, 176);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.theme-dark {
  --main-background: #141625;
  --card-background: #1E2139;
  --card-price: #252945;
  --card-amount: #0C0E16;
  --btn-purple: rgb(124, 93, 250);
  --btn-purple-hover: rgb(146, 119, 255);
  --btn-orange: rgb(236, 87, 87);
  --btn-orange-hover: rgb(255, 151, 151);
  --btn-edit: #252945;
  --btn-edit-hover: #FFFFFF;
  --color-text: hsl(0, 0%, 97%);
  --color-status: rgb(248, 248, 248);
  --color-draft: rgb(248, 248, 248);
  --color-draft-light: rgba(248, 248, 248, 0.2);
  --input-border: rgb(136, 142, 176, 0.1);
  --btn-color: rgb(248, 248, 248, 0.8);
  --btn-back-color: rgb(23, 27, 49);

}

.theme-light {
  --main-background: #F8F8FB;
  --card-background: white;
  --card-price: #F9FAFE;
  --black-amount: #373B53;
  --btn-purple: rgb(124, 93, 250);
  --btn-purple-hover: rgb(146, 119, 255);
  --btn-orange: rgb(236, 87, 87);
  --btn-orange-hover: rgb(255, 151, 151);
  --btn-edit: #F9FAFE;
  --btn-edit-hover: #DFE3FA;
  --color-text: #0c0e16;
  --color-draft: #1E2139;
  --color-draft-light: rgb(30, 33, 57, 0.2);
  --input-border: rgb(136, 142, 176, 0.4);
  --btn-color: rgb(136, 142, 176);
  --btn-back-color: rgba(218, 214, 214, 0.5);
}

@media (min-width: 280px) {

  .container {
    min-height: 100vh;
    background: var(--main-background);
  }

  /* SVGS */
  .svg-logo {
    background-color: #9277FF;
  }

  /* NAV */
  nav {
    display: flex;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #1E2139;

  }

  .container--toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 30px;
  }

  .filter {
    cursor: pointer;
  }

  .arrow {
    transition: 0.2s all;
    transform: scale(1.5);
  }

  .arrow.active {
    transform: scale(1.5) rotate(-180deg);
  }

  .filter-checkboxes {
    display: none;
  }

  .filter-checkboxes.active {
    display: flex;
  }

  input.invalid {
    border: 1px solid var(--btn-orange);
  }

  /* INVOICES LIST */
  .invoices-container {
    width: 100%;
    color: var(--color-text);
  }

  .invoices-table {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .invoice-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--card-background);
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid transparent;
  }


  .invoice-card:hover {
    border: 1px solid var(--btn-purple);
  }

  .invoice-id {
    width: 50%;
    order: 1;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .invoice-due {
    order: 3;
    width: 50%;
  }

  .invoice-total {
    font-weight: 700;
    position: relative;
    top: -10px;
  }

  .invoice-name {
    width: 50%;
    order: 2;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .invoice-status {
    order: 4;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .status-button {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    padding: 15px 10px;
    border-radius: 10px;
    background: var(--green-light);
    color: var(--green);
    font-weight: 600;
    text-transform: capitalize;
  }

  .invoice-status p {
    font-size: 0.85rem;
    text-align: center;
  }

  .status-circle {
    height: 8px;
    width: 8px;
    background: var(--green);
    border-radius: 100%;
    margin-right: 5px;
  }

  .invoice-total {
    order: 5;
  }

  .invoice-right-icon {
    display: none;
  }

  /* CREATE FORM */
  .create {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: var(--main-background);
    transform: translateX(0px);
    padding: 20px;
  }

  .create-title {
    margin: 10px 0;
  }

  .create label {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 0.85rem;
  }

  .create label>* {
    margin: 8px 0;
  }

  .create label input {
    padding: 15px 10px;
    background: var(--card-background);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    color: var(--color-text);
    font-weight: 700;
  }

  .create label input.invalid {
    border: 1px solid red;
  }

  .create label input:focus {
    outline: 1px solid var(--btn-purple);
    border: none;
  }

  /* CREATE BILL FROM */

  .bill-from-title {
    color: var(--btn-purple);
    margin: 10px 0;
  }

  .bill-from-container {
    display: flex;
    flex-direction: column;
  }

  .bill-from {
    display: flex;
    flex-direction: column;
  }

  .bill-from-location {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .bill-from-location>* {
    width: 30%;
  }

  /* CREATE BILL TO */

  .bill-to {
    display: flex;
    flex-direction: column;
  }

  .bill-to-title {
    color: var(--btn-purple);
    margin: 10px 0;
  }


  .calendar-terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .calendar-container {
    width: 50%;
  }

  .btn-date {
    width: 95%;
    border: none;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    background: var(--card-background);
    color: var(--color-text);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .calendar-wrapper {
    display: block;
    position: absolute;
    z-index: 2;
  }

  .create-terms {
    width: 50%;
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    background: var(--card-background);
    color: var(--color-text);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .select-term {
    width: 50%;

  }

  select {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Remove default arrow */
    background-image: url("./images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-color: var(--card-background);
    /* Add custom arrow */
  }

  select:focus {
    border: none;
    outline: none;
  }

  /* ITEM LIST  */
  .item-list {
    margin-top: 20px;
  }

  .item-list h3 {
    color: var(--gray);
    margin: 20px 0;
    font-size: 1.1rem;
  }

  .btn-create-item {
    background: var(--card-background);
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    color: var(--btn-color);
    font-size: 0.75rem;
    font-weight: 600;
    transition: 0.2s all;
    cursor: pointer;
  }

  .btn-create-item:hover {
    background: var(--btn-back-color);
  }

  /* ITEM LIST CREATE ELEMENT */
  .create-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .create-item-name {
    width: 100%;
  }

  .create-item-qty {
    width: 20%;
  }

  .create-item-price {
    width: 30%;
    margin: 0 10px;
  }

  .total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .total-title {
    position: relative;
    top: 5px;
    font-size: 0.9rem;
  }

  .total-price {
    position: relative;
    bottom: 25px;
    color: var(--btn-color);
  }

  .trash {
    position: absolute;
    bottom: 25px;
    right: 10px;
    cursor: pointer;
  }

  .trash:hover svg path {
    fill: var(--btn-orange);
  }

  .buttons-controller {
    display: flex;
    margin-top: 20px;
  }

  .buttons-controller button {
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    transition: 0.2s all;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .btn-discard-cont {
    width: 35%;
  }

  .draft-save-cont {
    width: 65%;
    display: flex;
    justify-content: flex-end;
  }

  .btn-discard, .btn-draft {
    background: var(--card-background);
    color: var(--gray);
  }

  .btn-discard:hover,
  .btn-draft:hover {
    background: var(--btn-back-color)
  }

  .btn-draft {
    margin-right: 5px;
  }

  .btn-save {
    background: var(--btn-purple);
    color: white;
  }

  .btn-save:hover {
    background: var(--btn-purple-hover)
  }
}

@media (min-width: 750px) {
  nav {
    position: fixed;
    flex-direction: column;
    min-height: 100%;
    width: 50px;
    display: flex;
    justify-content: space-between;
  }

  .container--toggle {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .invoices-table {
    width: 80%;
  }

  .invoice-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--card-background);
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid transparent;
  }

  .invoice-card>* {
    flex: 1;
    display: flex;
  }

  .invoice-card:hover {
    border: 1px solid var(--btn-purple);
  }

  .invoice-id {
    width: auto;
    order: 1;
    margin-bottom: 0px;
  }

  .invoice-due {
    order: 2;
    width: auto;
  }

  .invoice-name {
    width: auto;
    order: 3;
    justify-content: flex-start;
    margin-bottom: 0px;
    padding-left: 20px;
  }

  .invoice-total {
    font-weight: 700;
    position: static;
    order: 4;
    font-size: 1.2rem;
  }

  .invoice-status {
    order: 5;
    width: auto;
    display: flex;
    justify-content: flex-start;
  }

  .status-button {
    width: 110px;
    position: static;
  }

  .invoice-right-icon {
    flex: none;
    display: block;
    order: 6;
    width: 10px;
    transform: scale(1.2);
  }

  .create {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background: var(--main-background);
    transform: translateX(50px);
    padding: 50px;
    overflow: auto;
  }

  /* ITEM LIST CREATE ELEMENT */
  .create-item {
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }

  .create-item-name {
    width: 40%;
  }

  .create-item-qty {
    width: 10%;
    margin-left: 10px;
  }

  .create-item-price {
    width: 20%;
    margin: 0 10px;
  }

  .total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .total-title {
    position: relative;
    top: 5px;
    font-size: 0.9rem;
  }

  .total-price {
    position: relative;
    bottom: 25px;
    color: var(--btn-color);
  }

  .trash {
    position: absolute;
    bottom: 25px;
    right: 10px;
    cursor: pointer;
  }

  .buttons-controller button {
    padding: 15px 20px;
  }

}

@media (min-width: 1024px) {
  .invoices-table {
    width: 60%;
  }
}

@media (min-width: 1920px) {
  .invoices-table {
    width: 50%;
  }
}